.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rbuildignore
bam/.DS_Store
bam/SRR1182603.bam
bam/SRR1182603_sorted.bam
bam/SRR1182603_sorted.bam.bai
bam/SRR1182604.bam
bam/SRR1182604_sorted.bam
bam/SRR1182604_sorted.bam.bai
bam/SRR1182605.bam
bam/SRR1182605_sorted.bam
bam/SRR1182605_sorted.bam.bai
bam/SRR1182606.bam
bam/SRR1182606_sorted.bam
bam/SRR1182606_sorted.bam.bai
bam/SRR1182619.bam
bam/SRR1182619_sorted.bam
bam/SRR1182619_sorted.bam.bai
bam/SRR1182620.bam
bam/SRR1182620_sorted.bam
bam/SRR1182620_sorted.bam.bai
bam/SRR1182621.bam
bam/SRR1182621_sorted.bam
bam/SRR1182621_sorted.bam.bai
bam/SRR1182622.bam
bam/SRR1182622_sorted.bam
bam/SRR1182622_sorted.bam.bai
bam/SRR1182623.bam
bam/SRR1182623_sorted.bam
bam/SRR1182623_sorted.bam.bai
bam/SRR1182624.bam
bam/SRR1182624_sorted.bam
bam/SRR1182624_sorted.bam.bai
bioc.tar.gz
Debug_bins/.DS_Store
Debug_bins/bins_on_genome.rds
Debug_bins/Debug.RData
Debug_bins/exome_bins_from_txdb.R
Debug_bins/exome_bins_gr.bed
Debug_bins/exome_bins_grl.bed
Debug_bins/exome_bins_grl.gff
Debug_bins/exon_genes.bed
Debug_bins/remove_introns.R
Debug_bins/Visualize.Rmd
DESCRIPTION
Developing/.DS_Store
Developing/_bt_GC.pdf
Developing/Bin_100.pdf
Developing/Bins_1000_1000.rds
Developing/Bins_100_10.rds
Developing/Bins_10k_10k.rds
Developing/bins_on_genome.bed
Developing/Cannot find mixture distribution.pdf
Developing/Check CQN.R
Developing/coldata_example.xlsx
Developing/Compare_CQN_guitar.pdf
Developing/CQN_DM_not_pool_3000.pdf
Developing/Demonstration.pdf
Developing/DM_3000.pdf
Developing/DM_ab_GC.pdf
Developing/DM_compare_p0.5.pdf
Developing/DM_exl.pdf
Developing/DM_Guitar.pdf
Developing/DM_mcqn_ab_GC.pdf
Developing/DM_mcqn_bt_GC.pdf
Developing/DM_mcqn_exl.pdf
Developing/DM_mcqn_Guitar.pdf
Developing/DM_nocqn_bt_GC.pdf
Developing/Exon_GC.pdf
Developing/Flat?.pdf
Developing/frequency diagram.pdf
Developing/GC_dist_TSS.pdf
Developing/Hard to see mixture distribution.pdf
Developing/Input_bins_1k.pdf
Developing/introns.gff
Developing/log2RPKM_exons_violine.pdf
Developing/Meth_ab_GC.pdf
Developing/Meth_exl.pdf
Developing/Meth_Guitar.pdf
Developing/Meth_mcqn_ab_GC.pdf
Developing/Meth_mcqn_bt_GC.pdf
Developing/Meth_mcqn_exl.pdf
Developing/Meth_mcqn_Guitar.pdf
Developing/Meth_nocqn_bt_GC.pdf
Developing/Mixture_model?(bin 1k).pdf
Developing/No clear mixture model....pdf
Developing/padj005.pdf
Developing/Pairwise-correlation.png
Developing/Peak_005.pdf
Developing/Peak_guitar.pdf
Developing/projectX_sep.rds
Developing/Reads_10k_bin.pdf
Developing/RPKM_exons_violine.pdf
Developing/SE_EX_counts.rds
Developing/SE_exons_counts.rds
Developing/SE_Peak_counts.rds
Developing/SEP_dm.rds
Developing/SEP_m.rds
Developing/SEP_meth.rds
Developing/Size_factors_both.pdf
Developing/SizeFactors_Untreated.pdf
Developing/stratify by exon length.pdf
ep2_ab_GC.pdf
ep2_ab_GC_old.pdf
ep2_bt_GC.pdf
ep2_bt_GC_corrected.pdf
ep2_bt_GC_old.pdf
ep2_exl.pdf
ep2_exl_old.pdf
ep2_Guitar.pdf
ep2_Guitar_old.pdf
example_data/SRR1182603_example_sorted.bam
example_data/SRR1182604_example_sorted.bam
example_data/SRR1182605_example_sorted.bam
example_data/SRR1182606_example_sorted.bam
example_data/SRR1182619_example_sorted.bam
example_data/SRR1182620_example_sorted.bam
example_data/SRR1182621_example_sorted.bam
example_data/SRR1182622_example_sorted.bam
example_data/SRR1182623_example_sorted.bam
example_data/SRR1182624_example_sorted.bam
exbg.bed
exbg.gff
exomePeak2.Rproj
exomePeak2_output/ep2_ab_GC.pdf
exomePeak2_output/ep2_lfc_GC.pdf
exomePeak2_output/mod.bed
exomePeak2_output/mod.txt
exomePeak2_output/sig_diff_mod.bed
exomePeak2_output/sig_diff_mod.txt
GC_effect_plot/.DS_Store
GC_effect_plot/Average over replicates.pdf
GC_effect_plot/Correction_made_by_TSS.pdf
GC_effect_plot/GC_correct_peak_calling.pdf
GC_effect_plot/GC_single_base.pdf
GC_effect_plot/kmeans.pdf
GC_effect_plot/Marginal (count >= 200).pdf
GC_effect_plot/Marginal mixture.pdf
GC_effect_plot/mcluster.pdf
GC_effect_plot/mixture regression.pdf
GC_effect_plot/Powerful_approach.pdf
GC_effect_plot/Regression_mixture_100.pdf
GC_effect_plot/Regression_mixture_50.pdf
GC_effect_plot/Rigorous background definition.pdf
GC_effect_plot/Search_background.Rmd
intr.gff
Old_data/.DS_Store
Old_data/DM2_ab_GC.pdf
Old_data/DM2_Guitar.pdf
Old_data/DM4_ab_GC.pdf
Old_data/DM4_bt_GC.pdf
Old_data/DM4_exl.pdf
Old_data/DM4_Guitar.pdf
Old_data/DM_2_bt_GC.pdf
Old_data/DM_2_exl.pdf
Old_data/DM_SB_Guitar.pdf
Old_data/exomePeak2_result.bed
Old_data/exomePeak2_result.rds
Old_data/exomePeak2_result.txt
Old_data/exomepeaks_result.bed
Old_data/exomepeaks_result.gff
Old_data/exomepeaks_result.txt
Old_data/hg19_miCLIP.rds
Old_data/Meth_SB_ab_GC.pdf
Old_data/Missed_sites_Guitar.pdf
Old_data/Raw_Count_bins.rds
Old_data/sb_new.rds
Old_data/sb_sep_final.rds
Old_data/SE_Peak_counts.rds
Old_data/SE_Peak_counts_bins.rds
Old_data/SE_Peak_counts_expanded.rds
Old_data/SEP.rds
Old_data/SEP_dm2.rds
Old_data/sep_final.rds
Old_data/SEP_meth.rds
Old_data/SEP_new.rds
Old_data/sep_newest_peaks.rds
Old_data/SEP_pc_one.rds
Old_data/SEP_sb.rds
Old_data/test_sep.rds
Old_plots/.DS_Store
Old_plots/_violine.pdf
Old_plots/CDF_method_Guitar.pdf
Old_plots/Corrected.pdf
Old_plots/cumulative_enrichment_plot.pdf
Old_plots/DM3_ab_GC.pdf
Old_plots/DM3_bt_GC.pdf
Old_plots/DM3_exl.pdf
Old_plots/DM3_Guitar.pdf
Old_plots/DM_mcqn_exl.pdf
Old_plots/DM_mcqn_Guitar.pdf
Old_plots/DM_SB_exl.pdf
Old_plots/effec.pdf
Old_plots/ep2_ab_GC.pdf
Old_plots/ep2_ab_GC_old.pdf
Old_plots/ep2_bt_GC.pdf
Old_plots/ep2_bt_GC_old.pdf
Old_plots/ep2_exl.pdf
Old_plots/ep2_exl_old.pdf
Old_plots/ep2_Guitar.pdf
Old_plots/ep2_Guitar_old.pdf
Old_plots/ep_test_bt_GC.pdf
Old_plots/GC_content_mix2.pdf
Old_plots/HRV8_peaks.pdf
Old_plots/hypo_binomial_glm.pdf
Old_plots/Meth_mcqn_ab_GC.pdf
Old_plots/Meth_mcqn_bt_GC.pdf
Old_plots/Meth_mcqn_exl.pdf
Old_plots/Meth_mcqn_Guitar.pdf
Old_plots/Meth_SB_bt_GC.pdf
Old_plots/NAIVE_kmedoids.pdf
Old_plots/Ppt_GC.pdf
Old_plots/SF_PC_bg.pdf
Old_plots/Sf_sb_bg.pdf
Old_plots/Size_factor_SB.pdf
Old_plots/Without correction.pdf
Talks/.DS_Store
Talks/After intron removal.pdf
Talks/Demo.pdf
Talks/DESeq dispersion 7 million bins.png
Talks/Ep2 software design.pptx
Talks/Fixed_perfect.pdf
Talks/Without intron removal.pdf
test/test_peak_calling_user_annotation.R
test/test_peakCalling.R
toy_data/SRR1182603_toy_sorted.bam
toy_data/SRR1182603_toy_sorted_sorted.bam
toy_data/SRR1182603_toy_sorted_sorted.bam.bai
toy_data/SRR1182604_toy_sorted.bam
toy_data/SRR1182604_toy_sorted_sorted.bam
toy_data/SRR1182604_toy_sorted_sorted.bam.bai
toy_data/SRR1182605_toy_sorted.bam
toy_data/SRR1182605_toy_sorted_sorted.bam
toy_data/SRR1182605_toy_sorted_sorted.bam.bai
toy_data/SRR1182606_toy_sorted.bam
toy_data/SRR1182606_toy_sorted_sorted.bam
toy_data/SRR1182606_toy_sorted_sorted.bam.bai
toy_data/SRR1182619_toy_sorted.bam
toy_data/SRR1182619_toy_sorted_sorted.bam
toy_data/SRR1182619_toy_sorted_sorted.bam.bai
toy_data/SRR1182620_toy_sorted.bam
toy_data/SRR1182620_toy_sorted_sorted.bam
toy_data/SRR1182620_toy_sorted_sorted.bam.bai
toy_data/SRR1182621_toy_sorted.bam
toy_data/SRR1182621_toy_sorted_sorted.bam
toy_data/SRR1182621_toy_sorted_sorted.bam.bai
toy_data/SRR1182622_toy_sorted.bam
toy_data/SRR1182622_toy_sorted_sorted.bam
toy_data/SRR1182622_toy_sorted_sorted.bam.bai
toy_data/SRR1182623_toy_sorted.bam
toy_data/SRR1182623_toy_sorted_sorted.bam
toy_data/SRR1182623_toy_sorted_sorted.bam.bai
toy_data/SRR1182624_toy_sorted.bam
toy_data/SRR1182624_toy_sorted_sorted.bam
toy_data/SRR1182624_toy_sorted_sorted.bam.bai
Toydata.sh
Vignette_gcapc.Rmd
Vignette_V_0.01.html
Vignette_V_0.1.html
Vignette_V_0.1.Rmd
~$coldata_example.xlsx
DESCRIPTION
ep2_ab_GC.pdf
ep2_ab_GC_old.pdf
ep2_bt_GC.pdf
ep2_bt_GC_old.pdf
ep2_exl.pdf
ep2_exl_old.pdf
ep2_Guitar.pdf
ep2_Guitar_old.pdf
test/test_peak_calling_user_annotation.R
test/test_peakCalling.R
DESCRIPTION
ep2_ab_GC.pdf
ep2_ab_GC_old.pdf
ep2_bt_GC.pdf
ep2_bt_GC_old.pdf
ep2_exl.pdf
ep2_exl_old.pdf
ep2_Guitar.pdf
ep2_Guitar_old.pdf
test/test_peak_calling_user_annotation.R
test/test_peakCalling.R
*.pdf
inst/extdata/SRR1182606_toy_sorted_sorted.bam.bai
inst/extdata/SRR1182619_toy_sorted.bam
inst/extdata/SRR1182619_toy_sorted.bam.bai
inst/extdata/SRR1182619_toy_sorted_sorted.bam
inst/extdata/SRR1182619_toy_sorted_sorted.bam.bai
inst/extdata/SRR1182620_toy_sorted.bam
inst/extdata/SRR1182620_toy_sorted.bam.bai
inst/extdata/SRR1182620_toy_sorted_sorted.bam
inst/extdata/SRR1182620_toy_sorted_sorted.bam.bai
inst/extdata/SRR1182621_toy_sorted.bam
inst/extdata/SRR1182621_toy_sorted.bam.bai
inst/extdata/SRR1182621_toy_sorted_sorted.bam
inst/extdata/SRR1182621_toy_sorted_sorted.bam.bai
inst/extdata/SRR1182622_toy_sorted.bam
subsetting.R
